# Application Info
APP_NAME="SHOPDASH"
APP_URL="http://127.0.0.1:8123"

# Routing Configuration
DEFAULT_CONTROLLER="Home"

# Database Configuration
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="root"
DB_PASS=""
DB_NAME="shopdash_db"
